.not-found-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

.not-found-heading {
  color: #ffffff;
  font-size: 23px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.not-found-info {
  font-size: 17px;
  color: #ffffff80;
  text-align: center;
}

@media (min-width: 768px) {
  .not-found-img {
    width: 400px;
  }
}
